
@(rows: List[models.DB.Test])(implicit lang: Lang)

<table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>@Messages("test.id")</th>
        <th>@Messages("test.name")</th>
        <th>@Messages("test.foreign_id")</th>
      </tr>
    </thead>
    <tbody>
    @for(row <- rows){
          <tr>
            <td>
              
            </td>
            <td>
              @row.name
            </td>
            <td>
              @row.foreign_id
            </td>
        </tr>
    }
     </tbody>
  </table>